.item-timeline {
    width: 90%;
    max-width: 420px;
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.item-timeline.visivel {
    opacity: 1;
    transform: translateY(0);
}
